.App {
  text-align: center;
  display: flex;
}

.body {
  background-color: rgb(68, 78, 88);
}

.keypad {
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: 20px;
}

.key-button {
  background-color: rgb(172, 104, 1);
  border-color: goldenrod;
  color: aliceblue;
  margin: 2px;
  border-radius: 50%;
  /* font-size: 1.5rem; */
  height: 3rem;
  width: 3rem;
}

.history {
  border: 1px;
  border-style: solid;
  color: aliceblue;
  border-radius: 14px;
  background-color: rgb(90, 101, 111);
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
}
