.App {
  text-align: center;
  display: flex;
  background-color: rgb(50, 50, 97);
}

.keypad {
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: 20px;
}

.history {
  border: 1px;
  border-color: black;
  color: aliceblue;
}
